# ===== Frontend (Angular) =====
node_modules/
dist/
.angular/
.env

# ===== Backend (NestJS) =====
backend/node_modules/
backend/dist/
backend/.env
backend/dev.db
backend/uploads/

# ===== General =====
.DS_Store
.vscode/
