<section class="page">
  <div class="panel">
    <div class="panel-header">
      <h3>Uploaded Files</h3>
      <button class="primary-btn" type="button">Upload New</button>
    </div>
    <div class="table">
      <div class="row header">
        <span>File</span>
        <span>Framework</span>
        <span>Status</span>
        <span>Size</span>
      </div>
      <div class="row" *ngFor="let file of files">
        <span class="file-name">{{ file.name }}</span>
        <span>{{ file.standard }}</span>
        <span class="status" [class.pending]="file.status !== 'Indexed'">{{ file.status }}</span>
        <span>{{ file.size }}</span>
      </div>
    </div>
  </div>
</section>
