<div class="chat-layout">
  <section class="chat-main">
    <app-chat-header
      [title]="conversationTitle"
      status="Live"
    ></app-chat-header>

    <app-message-list
      [messages]="messages"
      [typing]="typing"
      (actionSelected)="handleActionSelected($event)"
    ></app-message-list>
    <app-composer
      (send)="handleComposerSend($event)"
      [uploading]="uploading"
      [uploadProgress]="uploadProgress"
      [resetKey]="attachmentResetKey"
    ></app-composer>
  </section>
</div>
